body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 14pt;
    border-bottom: 1pt solid;
    margin: 20px 0px 25px 0px;
}

h2 {
    font-size: 12pt;
    margin: 20px 0px;
}

h3 {
    font-size: 11pt;
    margin: 20px 0px;
}

p, li, td, th, pre, div.note {
    font-size: 10pt;
}

p {
    margin: 15px 0px;
}

li {
    margin: 7px 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    font-weight: bold;
    background-color: #dbdbdb;
}

td, th {
    text-align: left;
    border: 1px solid black;
    padding: 5px;
}

div.note {
    background-color: #eeeeee;
    border: 2px solid;
    border-color: #6699ff;
    padding: 10px 5px;
    margin: 15px 0px;
}

pre {
    background-color: #eeeeee;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-line;
    padding: 10px;
    margin: 20px 0px;
}

img {
    margin: 20px 0px;
}

a {
    color: blue;
}
