body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 14pt;
    border-bottom: 1pt solid;
}

h1.new-header, h2.new-header {
    padding-top: 25pt;
}

h2 {
    font-size: 13pt;
}

p, ul, table {
    font-size: 10pt;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    font-weight: bold;
    background-color: #dbdbdb;
}

td, th {
    text-align: left;
    border: 1pt solid black;
    padding: 2pt;
}

div.note {
    background-color: #eeeeee;
    border: 2pt solid;
    border-color: #6699ff;
    font-size: 10pt;
    padding: 5pt;
}

div.code {
    background-color: #eeeeee;
    font-size: 10pt;
    font-family: 'Courier New', Courier, monospace;
    padding: 5pt;
}

a {
    color: blue;
}
